<div class="pedidos-entregue">
    <h2>--- Mesas com pedidos em espera ---</h2>
    <div class="mesas-wraper entregue" id="table_wait">
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html">10</a>
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">11</a>
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">12</a>
    </div><!--mesas-wraper-->
</div><!--pedidos-entregue-->
<div class="pedidos-entregue">
    <h2>--- Mesas com pedidos entregues ---</h2>
    <div class="mesas-wraper entregue" id="table_delivery">
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">13</a>
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">14</a>
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">15</a>
        <a class="mesa-single" href="../../orders/orders-delivered/orders-delivered.html"">16</a>
    </div><!--mesas-wraper-->
</div><!--pedidos-entregue-->
