<body>

    <!---Logo-do-Sistema--->
    <div class="logo"></div>

    <!---Formulário-de-Login--->
    <div class="box-login">

        <div class="img-perfil">
            <h2><i class="fa-solid fa-user"></i></h2>
        </div><!--img-perfil-->

        <form action="#">
            <div class="w100">
                <input id="inputCpfLogin" type="text" name="cpf" placeholder="Digite seu CPF*" required />
            </div><!--w100-->

            <div class="w100">
                <input id="inputCodigoLogin" type="text" name="codigo" placeholder="Digite seu código de identificação*" required/>
            </div><!--w100-->

            <div class="w100 options-login">
                <div class="manter-conectado">
                    <input type="checkbox" /><span> Manter conectado</span>
                </div><!--checkbox-login-->
                
                <div class="esqueci-codigo">
                    <a href="#">Esqueci meu código</a>
                </div><!--esqueci-codigo-->
            </div><!--w100-->

            <div class="w100">
                <input type="submit" value="Entrar" />
            </div><!--w100-->

            <!---Mensagens--->

            <div class="cpfIncorrect login-incorrect">
                <p>Digite seu CPF corretamente</p>
            </div><!--cpfIncorrect-->

            <div class="codigoIncorrect login-incorrect">
                <p>Digite seu código corretamente</p>
            </div><!--cpfIncorrect-->

            <!--<div class="messageCPF message-input">
                <p>Digite apenas números</p>
            </div><messageCPF

            <div class="messageCodigo message-input">
                <p>Apenas números e letras</p>
            </div>messageCPF-->
        </form>

    </div><!--box-login-->
    
</body>