<div class="main">
    <div id="content" class="justify-content-center">

        <div class="box">

            <h1>Cadastrar prato</h1>
            
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{ form.nome.auto_id }}">Nome</label>
                            {{ form.nome }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{ form.valor.auto_id }}">Valor</label>
                            {{ form.valor }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{ form.descricao.auto_id }}">Descrição</label>
                            {{ form.descricao }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="custom-control custom-switch">
                            <label class="custom-control-label" for="{{ form.status.auto_id }}">Ativo?</label>
                            {{ form.status }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="{{ form.foto.auto_id }}">Foto</label>
                            {{ form.foto }}
                        </div>
                    </div>
                </div>


            

            <div class="button-update-profile">
                <input id="button-update-profile" type="submit" value="Cadastrar">
                <div class="messageUpdateProfile">
                    <p>Somente administrador</p>
                </div>
            </div><!--button-update-profile-->


        </div><!--box-->

    </div><!--content-->

</div><!--main-->