<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="../../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../../static/assets/css/responsivo.css">
    <link rel="icon" href="../../../static/assets/images/icon.ico">
    <script src="https://kit.fontawesome.com/8798ebed14.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" defer></script>
    <script src="../../../static/assets/js/transitionScreen.js" defer></script>
    <script src="../../../static/assets/js/placeOrder.js" defer></script>
    

    <title>Perfil | LBPR System</title>
</head>

<body>
    <header>
        <div class="center">

            <div class="exit-perfil">
                <a href="../../../templates/login/index.html"><i class="fa-solid fa-right-from-bracket"></i></a>
                <div class="logo-img">
                    <img src="../../../static/assets/images/logoSemFundo.png" alt="logo">
                </div>
            </div><!--exit-perfil-->

            <div class="menu-perfil">
                <nav>
                    <ul>
                        <li class="selected"><a href="../profile/profile.html" class="selected">Perfil</a></li>
                        <li><a href="../tables-waiter/waiter-tables.html">Mesas</a></li>
                    </ul>
                </nav>
                <div class="avatar-perfil"></div>
                <div class="info-perfil">
                    <h2>NOME</h2>
                    <h3>GARÇOM</h3>
                </div><!--info-perfil-->
            </div><!--menu-perfil-->

            <div class="menu-perfil-mobile">
                <h2 id="icon-menu"><i class="fa-solid fa-bars"></i></h2>
                <nav>
                    <div class="avatar-perfil"></div>
                    <div class="info-perfil">
                        <h2>NOME</h2>
                        <h3>GARÇOM</h3>
                    </div><!--info-perfil-->
                    <ul>
                        <div class="line-text"></div>
                        <li class="selected"><a href="../profile/profile.html" class="selected">Perfil</a></li>
                        <div class="line-text"></div>
                        <li><a href="../tables-waiter/waiter-tables.html">Mesas</a></li>
                    </ul>
                </nav>
            </div><!--menu-perfil-mobile-->

        </div><!--center-->
    </header>


    <div class="main">
        <div id="content">

            <div class="box">
                <h1>Perfil</h1>

                <div class="wraper-profile">
                    <div class="profile-single">
                        <p>Nome Completo:</p>
                        <input type="text" value="Nome" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>CPF:</p>
                        <input type="text" value="CPF" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>E-mail:</p>
                        <input type="text" value="E-mail" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>Cargo:</p>
                        <input type="text" value="Cargo" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>Telefone:</p>
                        <input type="text" value="Telefone" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>Data de nascimento:</p>
                        <input type="text" value="Data" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>Sexo:</p>
                        <input type="text" value="Sexo" disabled>
                    </div><!--profile-single-->

                    <div class="profile-single">
                        <p>Endereço:</p>
                        <input type="text" value="Endereço" disabled>
                    </div><!--profile-single-->
                </div><!--wraper-profile-->
                
                <div class="button-update-profile">
                    <input id="button-update-profile" type="button" value="Alterar">
                    <div class="messageUpdateProfile"><p>Somente administrador</p></div>
                </div><!--button-update-profile-->

            </div><!--box-->
            
        </div><!--content-->
    </div><!--main-->

</body>

</html>