<div class="legenda">
    <div class="legenda-atendida">
        <div class="ball-atendida"></div>
        <p>Ocupada</p>
    </div><!--legenda-atendida-->

    <div class="legenda-nao-atendida">
        <div class="ball-nao-atendida"></div>
        <p>Disponivel</p>
    </div><!--legenda-atendida-->
</div><!--legenda-->

<div class="mesas-wraper">
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">1</a>
    <a class="mesa-single" href="#">2</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">3</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">4</a>
    <a class="mesa-single" href="#">5</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">6</a>
    <a class="mesa-single" href="#">7</a>
    <a class="mesa-single" href="#">8</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">9</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">10</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">11</a>
    <a class="mesa-single" href="#">12</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">13</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">14</a>
    <a class="mesa-single" href="#">15</a>
    <a class="mesa-single atendida" href="../orders-delivered/orders-delivered.operator.html">16</a>
</div><!--mesas-wraper-->
