<!--<div class="legenda">
    <div class="legenda-atendida">
        <div class="ball-atendida"></div>
        <p>Ocupada</p>
    </div>--legenda-atendida

    <div class="legenda-nao-atendida">
        <div class="ball-nao-atendida"></div>
        <p>Disponivel</p>
    </div>--legenda-atendida
</div>--legenda-->

<div class="mesas-wraper mt-5">
    <a class="mesa-single atendida" href="/home/orders/create/">1</a>
    <a class="mesa-single" href="/home/orders/create/">2</a>
    <a class="mesa-single atendida" href="/home/orders/create/">3</a>
    <a class="mesa-single atendida" href="/home/orders/create/">4</a>
    <a class="mesa-single" href="/home/orders/create/">5</a>
    <a class="mesa-single atendida" href="/home/orders/create/">6</a>
    <a class="mesa-single" href="/home/orders/create/">7</a>
    <a class="mesa-single" href="/home/orders/create/">8</a>
    <a class="mesa-single atendida" href="/home/orders/create/">9</a>
    <a class="mesa-single atendida" href="/home/orders/create/">10</a>
    <a class="mesa-single atendida" href="/home/orders/create/">11</a>
    <a class="mesa-single" href="/home/orders/create/">12</a>
    <a class="mesa-single atendida" href="/home/orders/create/">13</a>
    <a class="mesa-single atendida" href="/home/orders/create/">14</a>
    <a class="mesa-single" href="/home/orders/create/">15</a>
    <a class="mesa-single atendida" href="/home/orders/create/">16</a>
</div><!--mesas-wraper-->
