{% load static %}

<!--<div class="legenda">
    <div class="legenda-atendida">
        <div class="ball-atendida"></div>
        <p>Ocupada</p>
    </div>--legenda-atendida

    <div class="legenda-nao-atendida">
        <div class="ball-nao-atendida"></div>
        <p>Disponivel</p>
    </div>--legenda-atendida
</div>--legenda-->
<div class="row justify-content-center" style="min-width: 100% !important;">
    <div class="col-sm-8" style="min-width: 75% !important;">
        <div class="search-menu " id="formSearch">

            <div class="input-menu">
                <input style="padding-left:8px;" type="text" id="search" placeholder="Pesquise o número da mesa..." required>
                <!--<input type="submit" value="Procurar">-->
            </div><!--input-menu-->
        
            <div class="create-menu">
                <a type="button" data-toggle="modal" data-whatever="@mdo" data-target="#create_table" href=""><img src="{% static 'assets/images/mais.png' %}" alt="add"></a>
            </div><!--create-menu-->
        
        </div><!--search-menu-->
    </div>
    <div class="col-sm-12">
        <div class="mesas-wraper mt-5" id="list_tables">
           
        </div><!--mesas-wraper-->
        

    </div>
</div>


