<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../../static/assets/css/responsivo.css">

    <title>create user</title>
</head>

<body>
    <header>
        <div class="center">

            <div class="exit-perfil">
                <a href="../../login/index.html"><i class="fa-solid fa-right-from-bracket"></i></a>
                <div class="logo-img">
                    <img src="../../images/logoSemFundo.png" alt="logo">
                </div>
            </div><!--exit-perfil-->

            <div class="menu-perfil">
                <nav>
                    <ul>
                        <li><a href="../list/list.html">Funcionários</a></li>
                        <li class="selected"><a href="../create/create.html">Cadastro</a></li>
                        <li><a href="relatorios.html">Relatórios</a></li>
                    </ul>
                </nav>
                <div class="avatar-perfil"></div>
            </div><!--menu-perfil-->

            <div class="menu-perfil-mobile">
                <h2 id="icon-menu"><i class="fa-solid fa-bars"></i></h2>
                <nav>
                    <div class="avatar-perfil"></div>
                    <ul>
                        <div class="line-text"></div>
                        <li><a href="funcionarios.html">Funcionários</a></li>
                        <div class="line-text"></div>
                        <li class="selected"><a href="cadastro.html">Cadastro</a></li>
                        <div class="line-text"></div>
                        <li><a href="relatorios.html">Relatórios</a></li>
                    </ul>
                </nav>
            </div><!--menu-perfil-mobile-->

        </div><!--center-->
    </header>


    <div class="main">

        <div id="sidebar" class="sidebar">
            <div class="exit-perfil">
                <a href="../login/index.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div><!--exit-perfil-->

            <div class="logo-sidebar">
                <img src="../../static/assets/images/logoSemFundo.png" alt="logo">
            </div><!--logo-sidebar-->

            <div class="avatar-perfil">
                <div class="img-perfil"></div>
                <h2>NOME</h2>
                <h3>ADMINISTRADOR</h3>
            </div>

            <nav>
                <ul>
                    <div class="line-text"></div>
                    <li><a href="../list/list.html">Funcionários</a></li>
                    <div class="line-text"></div>
                    <li class="selected"><a href="../create/create.html" class="selected">Cadastro</a></li>
                    <div class="line-text"></div>
                    <li><a href="relatorios.html">Relatórios</a></li>
                    <div class="line-text"></div>
                </ul>
            </nav>

        </div><!--sidebar-->

        <div id="content" class="content d-flex align-items-center">
            <div class="container">
                <div class="container-fluid">
                        <div class="d-flex justify-content-center w-100 p-4">
                            <img src="../../static/assets/images/logo.png" style="width: 18rem;" alt="">
                        </div>
                    <div class="card p-4">
                        <div class="card-title">
                            <h1 class="text-uppercase">Cadastrar novo usuário</h1>
                        </div>
                        <div class="card-body">
                            <div class="row gy-4 ">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="user">Usuário</label>
                                        <input type="text" name="" id="user" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Nome</label>
                                        <input type="text" name="" id="name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cpf">CPF</label>
                                        <input type="text" name="" id="cpf" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="" id="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cpf">Cargo</label>
                                        <select name="" id="professions" class="form-control">
                                            <option value="">Administrador</option>
                                            <option value="">Cozinheiro(a)</option>
                                            <option value="">Garçom</option>
                                            <option value="">Caixa</option>
                                            <option value="">Higienizador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="smartphone">Telefone</label>
                                        <input type="tel" name="" id="smartphone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="dtnasc">Data de nascimento</label>
                                        <input type="date" name="" id="dtnasc" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="sex">Sexo</label>
                                        <select name="" id="sex" class="form-control">
                                            <option value="">Masculino</option>
                                            <option value="">Feminino</option>
                                            <option value="">Prefiro não dizer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <div class="form-group align-end">
                                        <button type="submit" class="btn btn-primary btn-lg">Criar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div><!--content-->

    </div><!--main-->

</body>

</html>