{% load static %}

<div class="container">
  <div class="container-fluid">
    <div class="card p-4">
      <div class="card-title">
        <h1>Cadastrar novo usuário</h1>
      </div>
      <div class="card-body">
        
        {% block form %}
          {% include 'user/components/form.html' %}
        {% endblock %}
        <div class="row mt-4">
          <div class="col-sm-12 d-flex align-center justify-content-end">
            <button type="submit" class="btn btn-danger btn-lg" id="create_user">Criar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
