/*<-------------------GERAL------------------->*/
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

.w100{
    width: 100%;
}

.center{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/*<-------------------LOGIN------------------->*/

body{
    background-color: rgb(246, 246, 246);
    min-height: 100vh;
}

.logo{
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 210px;
    height: 170px;
    margin: 30px auto 0 auto;
}

.logo:hover{
    width: 215px;
    height: 175px;
    margin: 30px auto -5px auto;
}

.box-login{
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-bottom: 10px solid rgb(226, 226, 226);
    text-align: center;
    margin: 150px auto 0 auto;
    padding: 95px 30px 50px 30px;
    border-radius: 15px;
    position: relative;
}

.box-login .img-perfil{
    background-color: rgb(179 22 22);
    border-bottom: 11px solid rgb(53 53 53);
    display: inline-block;
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
    padding: 25px 35px 15px 35px;
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
}


.box-login form input[type=text]{
    width: 100%;
    height: 55px;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 17px;
    font-size: 17px;
    padding-left: 12px;
    outline: 0;
}

.box-login form input[type=text]:focus{
    border: 1px solid rgb(179 22 22);
    background-color: rgb(255, 251, 251);
}

.box-login form input[type=submit]{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 2px solid rgb(179 22 22);
    border-radius: 25px;
    border: 0;
    background-color: rgb(179 22 22);
    border-bottom: 5px solid rgb(53 53 53);
    margin-top: 25px;
    font-size: 17px;
    color: #fff;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.box-login form input[type=submit]:hover{
    border-top: 1px solid rgb(179 22 22);
    border-right: 1px solid rgb(179 22 22);
    border-left: 1px solid rgb(179 22 22);
    border-bottom: 4px solid rgb(179 22 22);
    background-color: rgb(255, 255, 255);
    color: rgb(179 22 22);
    line-height: 45px;
}

.options-login{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.options-login .esqueci-codigo a{
    color: rgb(179 22 22);
    font-size: 17px;
    text-decoration: none;
}

.options-login .manter-conectado span{
    font-size: 17px;
    margin-left: 2px;
}

.options-login .esqueci-codigo a:hover{
    color: rgb(120, 11, 11);
}

.cpfIncorrect{
    position: absolute;
    left: 54%;
    top: 33%;
    display: none;
    z-index: 999;
}

.codigoIncorrect{
    position: absolute;
    left: 54%;
    top: 54%;
    display: none;
    z-index: 999;
}

.login-incorrect{
    border: 1px solid rgb(179 22 22);
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 4px 6px;
    font-size: 13px;
    font-style: italic;
}

.messageCPF{
    position: absolute;
    left: 12%;
    top: 18.3%;
    display: none;
    z-index: 998;
}

.messageCodigo{
    position: absolute;
    left: 12%;
    top: 36.5%;
    display: none;
    z-index: 998;
}

.message-input{
    border: 1px solid rgb(171, 171, 171);
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 3px 6px;
    font-size: 13px;
    font-style: italic;
}

/*<------------------TELA-PADRÃO------------------->*/

header{
    padding: 15px 2%;
    background-color: rgb(179 22 22);
    border-bottom: 4px solid rgb(131, 12, 12);
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}

header .center{
    display: flex;
    justify-content: space-between;
}

.exit-perfil{
    display: flex;
    align-items: center;
}

.exit-perfil a{
    transform: scaleX(-100%);
    cursor: pointer;
    color: #fff;
    font-size: 27px;
}

.exit-perfil a:hover{
    font-size: 29px;
    margin-right: -2px;
}

.exit-perfil .logo-img{
    margin-left: 20px;
}

.exit-perfil .logo-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55px;
    height: 85px;
}

.menu-perfil{
    display: flex;
    align-items: center;
}

.menu-perfil nav ul{
    display: flex;
}

.menu-perfil nav ul li{
    list-style-type: none;
}

.menu-perfil-mobile{
    display: none;
}

.menu-perfil-mobile h2{
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

.menu-perfil-mobile nav{
    background-color: rgb(166, 21, 21);
    border: 3px solid rgb(151, 19, 19);
    position: absolute;
    right: 0;
    top: 65px;
    width: 42%;
    text-align: center;
    display: block;
    border-radius: 30px 0 0 30px;
    padding: 10px 0;
}

.menu-perfil-mobile .avatar-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 25px auto 20px auto;
}

.menu-perfil-mobile nav ul li{
    list-style-type: none;
    padding: 20px 0;
}

.menu-perfil-mobile nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
}

.menu-perfil-mobile nav .line-text{
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.menu-perfil nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
    padding: 0 25px;
}

.menu-perfil nav ul li.selected a{
    font-weight: normal;
}

.menu-perfil-mobile nav ul li.selected a{
    font-weight: normal;
}

.menu-perfil nav ul li a:hover{
    font-weight: normal;
}

.menu-perfil-mobile nav ul li a:hover{
    font-weight: normal;
}

.menu-perfil .avatar-perfil{
    border-radius: 50%;
    background-color: rgb(131, 12, 12);
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

.main{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.main .sidebar{
    width: 25%;
    background-color: rgb(179 22 22);
    border-right: 4px solid rgb(131, 12, 12);
    position: relative;
}

.main .content{
    width: 75%;
}

.sidebar .exit-perfil{
    margin: 20px;
}

.sidebar .avatar-perfil{
    text-align: center;
    margin: 125px auto 40px auto;
}

.sidebar .avatar-perfil .img-perfil{
    width: 200px;
    height: 200px;
    background-color: rgb(131, 12, 12);
    border-radius: 50%;
    margin: 0 auto;
}

.sidebar .avatar-perfil h2{
    margin-top: 20px;
    color: #fff;
    font-weight: normal;
    font-size: 22px;
}

.sidebar .logo-sidebar img{
    width: 96px;
    height: 83px;
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar .avatar-perfil h3{
    margin-top: 2px;
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
}

.sidebar nav{
    text-align: center;
}

.sidebar nav ul li{
    padding: 20px 0;
    cursor: pointer;
}

.sidebar nav ul li:hover{
    background-color: rgb(156, 17, 17);
}

.sidebar nav ul li a:hover{
    font-weight: normal;
    padding: 20px 0;
    width: 100%;
}

.sidebar nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
}

.sidebar nav ul li.selected{
    background-color: rgb(156, 17, 17);
}

.sidebar nav ul li.selected a{
    font-weight: normal;
}

.sidebar nav .line-text{
    width: 50px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.side-bar .exit-perfil a{
    transform: scaleX(-100%);
    cursor: pointer;
    color: #fff;
    font-size: 27px;
}

.sidebar .exit-perfil a:hover{
    font-size: 29px;
    margin-bottom: -2px;
}