<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!---Conjunto-de-Caracteres--->
        <meta charset="UTF-8">
        <!---Edge--->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!---Responsivo--->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!---CSS--->
        <link rel="stylesheet" href="../../static/assets/css/style.css">
        <link rel="stylesheet" href="../../static/assets/css/responsivo.css">
        <!---Favicon--->
        <link rel="icon" href="../../static/assets/images/icon.ico">
        <!---FontAwesome--->
        <script src="https://kit.fontawesome.com/8798ebed14.js" crossorigin="anonymous"></script>
        <!---Titulo--->
        <title>Login | LBPR System</title>
    </head>
    <body>

        <!---Logo-do-Sistema--->
        <div class="logo"></div>

        <!---Formulário-de-Login--->
        <div class="box-login">

            <div class="img-perfil">
                <h2><i class="fa-solid fa-user"></i></h2>
            </div><!--img-perfil-->

            <form action="#">
                <div class="w100">
                    <input type="text" name="cpf" placeholder="Digite seu CPF*" required />
                </div><!--w100-->

                <div class="w100">
                    <input type="text" name="codigo" placeholder="Digite seu código de identificação*" />
                </div><!--w100-->

                <div class="w100">
                    <input type="submit" value="Entrar" />
                </div><!--w100-->
            </form>

        </div><!--box-login->
        
    </body>
</html>