<form action="" id="formUser">
  <div class="row gy-4">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.user.auto_id }}">Usuário</label>
        {{ form.user }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.nome.auto_id }}">Nome</label>
        {{ form.nome }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.cpf.auto_id }}">CPF</label>
        {{ form.cpf }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.email.auto_id}}">Email</label>
        {{ form.email }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="professions">Cargo</label>
        <select name="" id="professions" class="form-control">
          <option value="">Administrador</option>
          <option value="">Cozinheiro(a)</option>
          <option value="">Garçom</option>
          <option value="">Operador de caixa</option>
          <option value="">Higienizador</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.celular.auto_id }}">Telefone</label>
        {{ form.celular }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.dtnasc.auto_id }}">Data de nascimento</label>
        {{ form.dtnasc }}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="{{ form.sexo.auto_id }}">Sexo</label>
        {{ form.sexo }}
      </div>
    </div>
  </div>
</form>
