<div class="box">
    <h1 class="nMesa">Pedidos da mesa <span>n</span></h1>

    <div class="name-waiter">
        <h2>Garçom: NOME</h2>
    </div><!--name-waiter-->

    <div class="commands">
        <table border="1">
            <tr class='legendCommands' style='background-color: rgb(179 22 22); color: #fff;'>
                <td>Nome</td>
                <td>Valor unitário</td>
                <td>Qtd.</td>
                <td colspan='2'>Valor total</td>
            </tr>

            <tr class='pedido'>
                <td><input type='text' value="Nome"></td>
                <td><input type='text' value="Valor"></td>
                <td><input type='number' value="Qtd"></td>
                <td class='valueOrderSingle'><input type='text' value="Valor unitário"></td>
            </tr>

            <tr class='pedido'>
                <td><input type='text' value="Nome"></td>
                <td><input type='text' value="Valor"></td>
                <td><input type='number' value="Qtd"></td>
                <td class='valueOrderSingle'><input type='text' value="Valor unitário"></td>
            </tr>
        
            <tr class='pedido'>
                <td><input type='text' value="Nome"></td>
                <td><input type='text' value="Valor"></td>
                <td><input type='number' value="Qtd"></td>
                <td class='valueOrderSingle'><input type='text' value="Valor unitário"></td>
            </tr>

        </table>
    </div><!--orders-placed-->

    <div class="button-end">
        <input type="submit" value="Finalizar">
        <input type="submit" value="Alterar">
    </div><!--button-cancel-->

</div><!--box-->
    