<div class="d-flex flex-column w-100">
    <div class="container p-4">
        <div class="card p-4">
            <div class="card-title">
                <h1>Pedidos feito no dia</h1>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col">
                                <label for="data">Filtre data</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="date" id="data" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center table-responsive">
        <table class="table  table-striped">
            <thead class="table-light">
                <tr>
                    <th>N° Mesa</th>
                    <th>Nome completo garçom</th>
                    <th>Data fechamento</th>
                    <th>Valor total</th>
    
                </tr>
            </thead>
            <tbody class="table-group-divisor">
                <tr>
                    <td>23</td>
                    <td>PEDRO HENRIQUE FERREIRA IEGLER</td>
                    <th>13/02/2023 - 22:30</th>
                    <td>R$ 32512.00</td>
                </tr>
    
                <tr>
                    <td>23</td>
                    <td>PEDRO HENRIQUE FERREIRA IEGLER</td>
                    <th>13/02/2023 - 22:30</th>
                    <td>R$ 32512.00</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>PEDRO HENRIQUE FERREIRA IEGLER</td>
                    <th>13/02/2023 - 22:30</th>
                    <td>R$ 32512.00</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>PEDRO HENRIQUE FERREIRA IEGLER</td>
                    <th>13/02/2023 - 22:30</th>
                    <td>R$ 32512.00</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>PEDRO HENRIQUE FERREIRA IEGLER</td>
                    <th>13/02/2023 - 22:30</th>
                    <td>R$ 32512.00</td>
                </tr>
    
            </tbody>
        </table>
        <div class="d-flex w-100 justify-content-end">
    
            <button class="btn btn-danger btn-lg">Fechar caixa</button>
        </div>
    </div>
    
</div>
