<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="../../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../../static/assets/css/responsivo.css">
    <link rel="icon" href="../../../static/assets/images/icon.ico">
    <script src="https://kit.fontawesome.com/8798ebed14.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" defer></script>
    <script src="../../../static/assets/js/transitionScreen.js" defer></script>
    <script src="view-report-customers.html" defer></script>

    <title>Feedback | LBPR System</title>
</head>

<body>
    <header>
        <div class="center">

            <div class="exit-perfil">
                <a href="../../../templates/login/index.html"><i class="fa-solid fa-right-from-bracket"></i></a>
                <div class="logo-img">
                    <img src="../../../static/assets/images/logoSemFundo.png" alt="logo">
                </div>
            </div><!--exit-perfil-->

            <div class="menu-perfil">
                <nav>
                    <ul>
                        <li><a href="../profile/profile.html">Perfil</a></li>
                        <li><a href="../tables-cook/cook-tables.html">Mesas</a></li>
                        <li class="selected"><a href="../restaurant-menu/restaurant-menu.html" class="selected">Cardápio</a></li>
                        <li><a href="../#">Pedidos</a></li>
                    </ul>
                </nav>
                <div class="avatar-perfil">
                    <img src="../../../static/assets/images/avatar/garçonete.png" alt="avatar">
                </div><!--avatar-perfil-->
                <div class="info-perfil">
                    <h2>NOME</h2>
                    <h3>GARÇONETE</h3>
                </div><!--info-perfil-->
            </div><!--menu-perfil-->

            <div class="menu-perfil-mobile">
                <h2 id="icon-menu"><i class="fa-solid fa-bars"></i></h2>
                <nav>
                    <div class="avatar-perfil">
                        <img src="../../../static/assets/images/avatar/garçonete.png" alt="avatar">
                    </div><!--avatar-perfil-->
                    <div class="info-perfil">
                        <h2>NOME</h2>
                        <h3>GARÇONETE</h3>
                    </div><!--info-perfil-->
                    <ul>
                        <div class="line-text"></div>
                        <li><a href="../profile/profile.html">Perfil</a></li>
                        <div class="line-text"></div>
                        <li><a href="../tables-cook/cook-tables.html">Mesas</a></li>
                        <div class="line-text"></div>
                        <li class="selected"><a href="../restaurant-menu/restaurant-menu.html" class="selected">Cardápio</a></li>
                        <div class="line-text"></div>
                        <li><a href="../#">Pedidos</a></li>
                    </ul>
                </nav>
            </div><!--menu-perfil-mobile-->

        </div><!--center-->
    </header>


    <div class="main">
        <div id="content">

            <div class="box">

                <h1>Feedback</h1>
                <h2 class="title-feedback">Pergunte aos clientes se aceitam responder um feedback sobre o que acharam do restaurante (Não obrigatório).</h2>

                <div class="wraper-feedback">
                    <div class="feedback-single">
                        <input type="checkbox" name="mRuim" required><span>Muito ruim</span>
                    </div><!--feedback-single-->

                    <div class="feedback-single">
                        <input type="checkbox" name="ruim" required><span>Ruim</span>
                    </div><!--feedback-single-->

                    <div class="feedback-single">
                        <input type="checkbox" name="regular" required><span>Regular</span>
                    </div><!--feedback-single-->

                    <div class="feedback-single">
                        <input type="checkbox" name="bom" required><span>Bom</span>
                    </div><!--feedback-single-->

                    <div class="feedback-single">
                        <input type="checkbox" name="mBom" required><span>Muito bom</span>
                    </div><!--feedback-single-->
                </div><!--wraper-feedback-->

                <div class="wraper-button-feedback">
                    <input type="submit" style="background-color: rgb(53 53 53);" value="Não responder">
                    <input type="submit" value="Enviar">
                </div><!--wraper-button-feedback-->
                

            </div><!--box-->
            
        </div><!--content-->

    </div><!--main-->

</body>

</html>