<div class="box">

    <h1>Feedback</h1>
    <h2 class="title-feedback">Pergunte aos clientes se aceitam responder um feedback sobre o que acharam do restaurante (Não obrigatório).</h2>

    <div class="wraper-feedback">
        <div class="feedback-single">
            <input type="checkbox" name="mRuim" required><span>Muito ruim</span>
        </div><!--feedback-single-->

        <div class="feedback-single">
            <input type="checkbox" name="ruim" required><span>Ruim</span>
        </div><!--feedback-single-->

        <div class="feedback-single">
            <input type="checkbox" name="regular" required><span>Regular</span>
        </div><!--feedback-single-->

        <div class="feedback-single">
            <input type="checkbox" name="bom" required><span>Bom</span>
        </div><!--feedback-single-->

        <div class="feedback-single">
            <input type="checkbox" name="mBom" required><span>Muito bom</span>
        </div><!--feedback-single-->
    </div><!--wraper-feedback-->

    <div class="wraper-button-feedback">
        <input type="submit" style="background-color: rgb(53 53 53);" value="Não responder">
        <input type="submit" value="Enviar">
    </div><!--wraper-button-feedback-->
    

</div><!--box-->