<div class="mesas-wraper-cozinha">
    <div class="pedidos-em-espera">
        <h2>Pedidos em espera</h2>
        <div class="mesas-wraper esperando" id="table_requested">

        </div><!--mesas-wraper-->
    </div><!--pedidos-em-espera-->
    <div class="pedidos-entregue">
        <h2>--- Pedidos sendo realizados ---</h2>
        <div class="mesas-wraper entregue" id="table_wait">

        </div><!--mesas-wraper-->
    </div>
    <div class="pedidos-em-espera">
        <h2>Pedidos entregues</h2>
        <div class="mesas-wraper esperando" id="table_finished">

        </div><!--mesas-wraper-->
    </div><!--pedidos-em-espera-->
</div>
            