<div class="box">
    <h1 class="nMesa"></h1>

    <div class="name-waiter">
        <h2>Garçom: NOME</h2>
    </div><!--name-waiter-->

    <div class="commands">
        <table border="1">
            <tr class='legendCommands' style='background-color: rgb(179 22 22); color: #fff;'>
                <td>Nome</td>
                <td>Valor unitário</td>
                <td>Qtd.</td>
                <td colspan='2'>Valor total</td>
            </tr>

            <tr class='pedido'>
                <td>Nome</td>
                <td>Valor</td>
                <td>Qtd</td>
                <td class='valueOrderSingle'>Valor unitário</td>
            </tr>

            <tr class='pedido'>
                <td>Nome</td>
                <td>Valor</td>
                <td>Qtd</td>
                <td class='valueOrderSingle'>Valor unitário</td>
            </tr>

            <tr class='pedido'>
                <td>Nome</td>
                <td>Valor</td>
                <td>Qtd</td>
                <td class='valueOrderSingle'>Valor unitário</td>
            </tr>

        </table>
    </div><!--orders-placed-->

    <div class="button-end">
        <input type="submit" value="Finalizar">
        <div class="messageEndOrder">
            <p>Somente garçom e operador de caixa</p>
        </div>
    </div><!--button-cancel-->





</div><!--box-->