<div class="box">
    <h1 class="nMesa">Pedidos da mesa <span>{{ table_id }}</span></h1>
    <h5 style="margin-top: 20px;">Cliente Responsável: <span>{{ responsible }}</span></h4>

    <div class="search-order">
        <select name="" id="menu" class="form-select select-order">
            <option>Selecione um pedido</option>
            <option value="arroz">1 - Arroz</option>
            <option value="feijao">2 - Feijão</option>
            <option value="frango-assado">3 - Frango Assado</option>
            <option value="strogonoff">4 - Strogonoff</option>
        </select>
                
        <input type="number" name="qtd-order" id="qtd-order" placeholder="Qtd.">
        <input type="button" name="take-order" id="take-order" value="Anotar">

        <div class="messageOrder"><p>Preencha os dados por favor</p></div>
    </div><!--search-order-->

    <div id="commands" class="commands">
        <table id="content-commands" class="content-commands"></table><!--content-commands-->
    </div><!--commands-->

    <!--<div class="amount-of-people">
        <input type="number" id="qtd-people" placeholder="Qtd. de pessoas">
    </div>--amount-of-people-->

    <div class="buttons-commands">
        <a name="submit-commands" id="submit-commands" href="#">Enviar</a>
        <div class="messageOrderAll"><p>Preencha os dados por favor</p></div>
    </div><!--buttons-commands-->
</div><!--box-->