<div class="box">
    
    <h1 class="nMesa"></h1>

    <div class="search-order">
        <input type="search" name="search-order" id="search-order" placeholder="Pesquise o pedido" required>
        <input type="number" name="qtd-order" id="qtd-order" placeholder="Qtd.">
        <input type="button" name="take-order" id="take-order" value="Anotar">

        <div class="messageOrder"><p>Preencha os dados por favor</p></div>
    </div><!--search-order-->

    <div id="commands" class="commands">
        <table id="content-commands" class="content-commands"></table><!--content-commands-->
    </div><!--commands-->

    <!--<div class="amount-of-people">
        <input type="number" id="qtd-people" placeholder="Qtd. de pessoas">
    </div>--amount-of-people-->

    <div class="buttons-commands">
        <a name="submit-commands" id="submit-commands" href="#">Enviar</a>
        <div class="messageOrderAll"><p>Preencha os dados por favor</p></div>
    </div><!--buttons-commands-->
</div><!--box-->